**Task 07: Querying RDF(s)**

In [ ]:
!pip install rdflib
import urllib.request
url = 'https://raw.githubusercontent.com/FacultadInformatica-LinkedData/Curso2025-2026/refs/heads/master/Assignment4/course_materials/python/validation.py'
urllib.request.urlretrieve(url, 'validation.py')
github_storage = "https://raw.githubusercontent.com/FacultadInformatica-LinkedData/Curso2025-2026/master/Assignment4/course_materials"

In [ ]:
from validation import Report

First let's read the RDF file

In [ ]:
from rdflib import Graph, Namespace, Literal
from rdflib.namespace import RDF, RDFS
# Do not change the name of the variables
g = Graph()
g.namespace_manager.bind('ns', Namespace("http://somewhere#"), override=False)
g.parse(github_storage+"/rdf/data06.ttl", format="TTL")
report = Report()

**TASK 7.1a: For all classes, list each classURI. If the class belogs to another class, then list its superclass.**
**Do the exercise in RDFLib returning a list of Tuples: (class, superclass) called "result". If a class does not have a super class, then return None as the superclass**

In [ ]:
# TO DO
# Visualize the results
result = [] #list of tuples
for r in result:
  print(r)

In [ ]:
## Validation: Do not remove
report.validate_07_1a(result)

**TASK 7.1b: Repeat the same exercise in SPARQL, returning the variables ?c (class) and ?sc (superclass)**

In [ ]:
query =  "Select "

for r in g.query(query):
  print(r.c, r.sc)

In [ ]:
## Validation: Do not remove
report.validate_07_1b(query,g)

**TASK 7.2a: List all individuals of "Person" with RDFLib (remember the subClasses). Return the individual URIs in a list called "individuals"**

In [ ]:
ns = Namespace("http://oeg.fi.upm.es/def/people#")

# variable to return
individuals = []
# visualize results
for i in individuals:
  print(i)

In [ ]:
# validation. Do not remove
report.validate_07_02a(individuals)

**TASK 7.2b: Repeat the same exercise in SPARQL, returning the individual URIs in a variable ?ind**

In [ ]:
query =  "Select "

for r in g.query(query):
  print(r.ind)
# Visualize the results

In [ ]:
## Validation: Do not remove
report.validate_07_02b(g, query)

**TASK 7.3:  List the name and type of those who know Rocky (in SPARQL only). Use name and type as variables in the query**

In [ ]:
query =  """select
  }"""
# TO DO
# Visualize the results
for r in g.query(query):
  print(r.name, r.type)

In [ ]:
## Validation: Do not remove
report.validate_07_03(g, query)

**Task 7.4: List the name of those entities who have a colleague with a dog, or that have a collegue who has a colleague who has a dog (in SPARQL). Return the results in a variable called name**

In [ ]:
query =  """select
"""

for r in g.query(query):
  print(r.name)

# TO DO
# Visualize the results

In [ ]:
## Validation: Do not remove
report.validate_07_04(g,query)
report.save_report("_Task_07")